
body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #000000;
    margin-top: 100px;
    background-color: #7391ab;
}


#display {
    font-size: 30px;
    margin-top: 20px;
}


#buttons {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#start {
    min-width: 65px;
    max-width: 65px;
    min-height: 30px;
    max-height: 30px;
    text-align: center;
    font-size: 18px;
}

#reset {
    min-width: 65px;
    max-width: 65px;
    min-height: 30px;
    max-height: 30px;
    text-align: center;
    font-size: 18px;
}


#stop {
    min-width: 65px;
    max-width: 65px;
    min-height: 30px;
    max-height: 30px;
    text-align: center;
    font-size: 18px;
}